@import '../breakpoints.scss';

.card__container {
    margin-top: 46px;
    width: 100%;
    max-height: 457px;
    border: none;
    box-shadow: grey 0 0 2px;
    border-radius: 5px;
    text-align: left;
    @include media(tablet) {
        width: 90%;
        display: inline-block;
        margin: 46px 10px 0 10px;
    }
    .flag__container {
        img {
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px ;
            @include media(desktop-s) {
                min-height: 237px;
                max-height: 237px;
            }
        }
    }
    .info__container {
        padding: 0 24px;
        
        h3 {
            margin-top: 24px;
            margin-bottom: 24px;
        }
        p:last-child {
            padding-bottom: 24px;
        }
    }
}
