@import "../Mixins";
@import "../breakpoints";

.regions-select {
  width: 60%;
  margin-top: 36px;
  @include box-style;
  @media(min-width: 525px) {
    width: 100%;
    margin-top: 0;
  }
  @include media(tablet) {
    display: inline-block;
  }
}
