@import '../Mixins.scss';
@import '../breakpoints.scss';

.search-input {
    position: relative;
    width: 100%;
    @include box-style;
}
.dark-mode--element::placeholder {
    color: hsl(0, 0%, 100%);
}