@import './bootstrap_reboot';
@import './breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}