@import './breakpoints.scss';

.filter-countries__container {
    @media(min-width: 525px) {
        display: flex;
        align-items: center;
    }
    .search__container {
        @media(min-width: 525px) {
            width: 60%;
            max-width: 580px;
        }
    }
    .filter__container {
        @media(min-width: 525px) {
            margin-left: auto;
        }
    }

}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 15px;
    background-color: hsl(0, 0%, 98%);
    @include media(tablet) {
        display: inline-block;
    }
}