@import './breakpoints.scss';

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 15px;
    background-color: hsl(0, 0%, 98%);
    @include media(tablet) {
        display: inline-block;
    }
}